@charset "UTF-8";
@font-face {
        font-family: 'Noto Serif Kannada';
        font-style: normal;
        font-weight: 300;
        src: local('Noto Serif Kannada') url(./NotoSerifKannada-Regular.ttf);
        unicode-range: U+0C80-U+0CF2;
}
@font-face {
        font-family: 'Noto Serif Kannada';
        font-style: bold;
        font-weight: 300;
        src: local('Noto Serif Kannada Bold') url(./NotoSerifKannada-Bold.ttf);
        unicode-range: U+0C80-U+0CF2;
}


@page{size : A4;
margin: 2cm;
}

 body, pre {font-family: "Noto Serif Kannada";
/*column-count: 2;*/
}
