@font-face
 {
font-family: Goda;
src:  url('https://sanskritdocuments.org/css/fonts/Goda_1_0_5.ttf') format('truetype'); 
font-weight: normal;
}

@font-face
{
font-family: 'Noto Serif Kannada';
src: url('NotoSerifKannada-Regular.ttf');
}


@font-face
{ 
font-family: 'Noto Sans Kannada';
src: url('NotoSansKannada-Regular.ttf');
}

.Gd {
font-family: 'Goda';
}

.NSeri {
font-family: 'Noto Serif Kannada';
}

.NSans {
font-family: 'Noto Sans Kannada'
}


table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
